.App {
  background-color: #f1ece8;
  min-height: 100vh;
}
.ui.grid.header-menu {
  padding: 20px 0;
  background: #ffffff;
}
.menu-item {
  background-color: #244b99;
  border: solid 1px #ffffff;
  padding: 10px;
  text-align: center;
}
.menu-item i.icon {
  color: #ffffff;
}
.ui.grid + .grid.menu-principal {
  margin-top: 0;
}
.main-content {
  padding: 30px 0;
}
img.ui.image {
  display: inline-block;
}
.image-menu {
  padding-right: 20px;
}
.span-menu {
  color: #fff;
}
.menu-principal .menu.transition.visible {
  width: 100%;
  /* padding: 30px; */
  text-align: center;
  background-color: #74706b;
}
.menu-principal .menu.transition.visible a {
  color: #ffffff;
}
.menu-principal .menu.transition.visible a:hover .item {
  background-color: #b3b3b3 !important;
}
.menu-principal .menu.transition.visible a .item {
  padding: 30px 60px;
}
.columna-buscador {
  text-align: right;
}
.lista_clientes-acciones a, .lista_empleados-acciones a  {
  color: grey;
}
.lista_clientes-acciones a:hover,
.lista_clientes-acciones a:hover i,
.lista_empleados-acciones a:hover,
.lista_empleados-acciones a:hover i {
  color: #77c4d2 !important;
}

/*ALTA EMPLEADO*/
.field-button_upload, .field-file_upload {
  float: left;
}
.field-file_upload {
  width: 250px;
}
.field-button_upload .button {
  width: 150px;
}
.button-submit-cliente {
  text-align: right;
}
/* //ALTA EMPLEADO*/

.react-datepicker-wrapper {
  display: block!important;
}

.ui.dropdown.userDropdown .menu {
  right: 0;
  left: unset;
}

.userColumn {
  text-align: right;
}

.columna-buscador .visible.transition {
  display: none!important;
  visibility: hidden!important;
} 